.gallery {
    
}

.gallery img {
    transition: 1s;
    width: 250px;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


